.App{
  text-align: center;
}

.header{
  background-color: #ffeffe;
}

.membersColumn{
  background-color: #eefeef;
  width: 300px;
  height: 800px;
}

.shoutoutform{
  background-color: #ffeffe;
  flex-align: right;
}

.footer{
  background-color: #222222;
}


/* //credit for styling with css ideas goes to: Ania Kubow
//https://www.youtube.com/watch?v=IATOicvih5A&t=979s */
